.title{
    margin-top: 30px;
    font-size: 50px;
    font-weight: bold;
}

.form-container p {
    display: flex;
    flex-direction: column;
    margin: 15px 0;
}

label {
    margin-bottom: 10px;
}

input[name='name'], input[name='price'] {
    border-radius: 5px;
    border: 1px solid gray;
}

textarea[name='description'] {
    border-radius: 5px;
    border: 1px solid gray;
    height: 50px;
}

.form-btn{
    width: 100%;
}

